/********************
General
*********************/
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #65aada;
}
.container {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
.content, .fa-undo, .size-hover, .box-hover {
  border: #65aada solid 2.5px;
  border-radius: 2px;
}
th:hover, th:hover .fa, .fa-undo:hover, th:hover th.square, .blue .square, .blue-box {
  background: #65aada;
}
/********************
Positioning
*********************/
.tshirts, .blue, .pink, .yellow, .blue, .pink, .yellow, .name-pricing, .xl-hover {
  position: relative;
}
p, h5, .fa-undo, .box-hover, .size-hover, .size-hover i:after, .arrow-down {
  position: absolute;
}
/********************
Tshirts
*********************/
.tshirts, .blue, .pink, .yellow {
  float: left;
}
.tshirts {
  left: 50%;
}
.content {
  overflow: auto;
}
ul li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
th {
  border-right: #65aada solid 2.5px;
  padding: 15px 0;
}
tr {
  border-top: #65aada solid 2.5px;
}
.links {
  table-layout: fixed;
  width: 101%;
}
.square, .pink-box, .blue-box, .yellow-box, .green-box {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  display: inline-block;
  margin-right: 2px;
}
.pink .square, .pink-box {
  background-color: #d382aa;
}
.yellow .square, .yellow-box {
  background-color: #dcb07d;
}
.green-box {
  background: #8bb992;
}
.blue, .pink, .yellow {
  float: left;
  width: 28%;
  margin-right: 40px;
  left: -50%;
}
li img {
  width: 100%;
  padding: 15px;
}
.fa-undo {
  right: 0;
  padding: 5px;
  top: 0;
}
.fa, th {
  text-align: center;
  color: #65aada;
}
.fa-heart-o {
  font-weight: bold;
}
table .fa, table {
  font-size: 14px;
}
.name-pricing {
  width: 100%;
  height: 50px;
}
p {
  left: 0;
  font-size: 20px;
}
h5 {
  right: 0;
  top: -13px;
  font-size: 20px;
  font-weight: 900;
}
/**************************
Hidden Hover Elements
***************************/
  .box-hover {
    bottom: 105px;
    right: 71px;
  }
  .box-hover, .size-hover {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    visibility: hidden;
    transition: all .2s ease;
    transform-origin: bottom right;
    opacity: 1;
  }
  .size-hover {
    bottom: 53px;
    left: 2px;
  }
  .xl-hover, .square {
    transition: all .5s ease;
  }
  .s {
    font-size: 20px;
  }
  .size-hover i:after {
    font-style: normal;
    font-size: 14px;
  }
  .s:after {
    content: 's';
    left: 26px;
    top: 89px;
  }
  .m:after {
    content: 'm';
    left: 24px;
    font-size: 13px;
    top: 66px;
  }
  .l:after {
    content: 'l';
    left: 28px;
    top: 43px;
  }
  .xl:after {
    content: 'xl';
    left: 23px;
    top: 16px;
  }
  .m {
    font-size: 24px;
  }
  .l {
    font-size: 26px;
  }
  .xl {
    font-size: 28px;
  }
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    bottom: -7px;
    left: 22px;
  }
  /************************
  Hover
  *************************/
  th:hover, th:hover .fa, .fa-undo:hover {
    color: white;
    cursor: pointer;
  }
  th:hover .square {
    background: white;
  }
  .icon-t-shirt {
    display: block;
  }
  th.xl-hover:hover .size-hover, th:nth-child(4):hover .box-hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 6px);
  }
