/********************
General
*********************/
*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #65aada;
}
main {
  width: 100%;
  margin: 0 auto;
}
main, .container {
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 100%;
}
.content, .fa-undo, .size-hover, .box-hover {
  border: #65aada solid 2.5px;
  border-radius: 2px;
}
th:hover, th:hover .fa, .fa-undo:hover, th:hover th.square, .blue .square, .blue-box {
  background: #65aada;
}
/********************
Positioning
*********************/
.tshirts, ul li, .name-pricing, .xl-hover, .content {
  position: relative;
}
p, h5, .fa-undo, .box-hover, .size-hover, .size-hover i:after, .arrow-down {
  position: absolute;
}
/********************
Nav
*********************/
nav {
  overflow: hidden;
  padding-left: 0;
  float: left;
  width: 60%;
  transform: translateX(34%);
  padding-bottom: 30px;
}
nav ul {
  float: right;
  width: 100%;
}
nav ul li {
  text-align: center;
}
/********************
Tshirts
*********************/
ul li {
  float: left;
  list-style: none;
  width: 25%;
}
.content {
  overflow: auto;
}
table {
  border-collapse: collapse;
}
th {
  border-right: #65aada solid 2.5px;
  padding: 15px 0;
}
tr {
  border-top: #65aada solid 2.5px;
}
.links {
  table-layout: fixed;
  width: 101%;
}
.square, .pink-box, .blue-box, .yellow-box, .green-box {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  display: inline-block;
}
.pink .square, .pink-box {
  background-color: #d382aa;
}
.yellow .square, .yellow-box {
  background-color: #dcb07d;
}
.green-box, .green .square {
  background: #8bb992;
}
ul li {
  padding-right: 30px;
  padding-bottom: 20px;
}
li img {
  width: 100%;
  padding: 15px;
}
.fa-undo {
  right: -2px;
  padding: 5px;
  top: -2px;
}
.fa, th {
  text-align: center;
  color: #65aada;
}
.fa-heart-o {
  font-weight: bold;
}
table .fa, table {
  font-size: 14px;
}
.name-pricing {
  width: 100%;
  height: 50px;
}
p {
  left: 0;
  font-size: 20px;
}
h5 {
  right: 0;
  top: -13px;
  font-size: 20px;
  font-weight: 900;
}
/**************************
Hidden Hover Elements
***************************/
  .box-hover {
    bottom: 37px;
    right: -22px;
    width: 370%;
  }
  .box-hover, .size-hover {
    background: #fff;
    padding: 10px 4px;
    border-radius: 3px;
    transition: all .2s ease;
    transform-origin: bottom right;
    opacity: 0;
  }
  .square {
    position: relative;
  }
  .size-hover {
    bottom: 53px;
    padding: 7px 0;
    width: 100%;
  }
  .xl-hover, .square {
    transition: all .5s ease;
  }
  .s {
    font-size: 20px;
  }
  .size-hover i:after {
    font-style: normal;
    font-size: 14px;
  }
  .s:after {
    content: 's';
    left: 20px;
    top: 106px;
  }
  .m:after {
    content: 'm';
    left: 17px;
    font-size: 13px;
    top: 78px;
  }
  .l:after {
    content: 'l';
    left: 20px;
    top: 49px;
  }
  .xl:after {
    content: 'xl';
    left: 18px;
    top: 16px;
  }
  .m {
    font-size: 24px;
  }
  .l {
    font-size: 26px;
  }
  .xl {
    font-size: 28px;
  }
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    bottom: -7px;
  }
  .xl-hover .arrow-down {
    left: 21px;
  }
  .square .arrow-down {
    left: 21px;
  }
  /************************
  Hover
  *************************/
  th:hover, th:hover .fa, .fa-undo:hover {
    color: white;
    cursor: pointer;
  }
  th:hover .square {
    background: white;
  }
  .icon-t-shirt {
    display: block;
    padding: 3px;
  }
  th.xl-hover:hover .size-hover, th:nth-child(4):hover .box-hover {
    opacity: 1;
    transform: translate(0, 6px);
  }

@media only screen and (max-width:975px) {
  .tshirts {
    padding-left: 30px;
  }
  ul li {
    float: none;
    display: inline-block;
    width: 33%;
  }
  nav {
    display: none;
  }
}

@media only screen and (max-width:750px) {
  .tshirts {
    transform: translateX(0);
  }
  ul li {
    display: inline-block;
    width: 49%;
    padding: 0 20px 20px;
  }
  .tshirts {
    padding-left: 0;
  }
}

@media only screen and (max-width:475px) {
  ul li {
    display: inline-block;
    width: 100%;
  }
}
